.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
  position: relative;
  top: 5px;
  left: 20px;
}

#bulbasaur {
  /* your code here */
  position: relative;
  top: 10px;
  left: 25px;
}

#charmander {
  /* your code here */
  position: relative;
  top: 50px;
  left: 30px;
}

#squirtle {
  /* your code here */
  position: relative;
  top: 100px;
  left: 30px;
}

#pikachu {
  /* your code here */
  position: relative;
  top: 160px;
  left: 30px;
}

#jigglypuff {
  /* your code here */
  position: relative;
  top: 300px;
  left: 50px;
}
